body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.header h2 {
  margin: 0;
  font-size: 28px;
}

.upload-btn {
  display: block;
  background-color: #009688;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-btn:hover {
  background-color: #00796b;
}

.sheet-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sheet-selector button {
  background-color: #009688;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sheet-selector button:hover {
  background-color: #00796b;
}

.sheet-selector button.active {
  background-color: #aaaead;
}

.filters {
  margin-bottom: 20px;
  text-align: center;
}

.filters input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 2px;
  width: calc(20% - 20px);
  border: 1px solid #ddd;
  border-radius: 4px;
}

.filters button {
  background-color: #38403f;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filters button:hover {
  background-color: #00796b;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #7d9591;
  color: #fff;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td input[type="text"] {
  width: calc(100% - 24px);
  padding: 8px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

.buttons button {
  background-color: #009688;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #00796b;
}
